html, body {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #F4F1DE;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.site-header {
  background-color: #3D405B;
}

.header-title {
  font-size: 1.6rem;
  font-family: "Bree Serif";
  color: white;
  padding: 8px;
}