html, body {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #3D405B;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.site-header {
  background-color: #3D405B;
}

.header-title {
  font-size: 1.6rem;
  font-family: "Bree Serif";
  color: white;
  padding: 8px;
}

.current-weather-wrapper {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  background-color: #F4F1DE;
  color: black;
  font-family: "Montserrat";
  border-radius: 8px;
}